{
  "presets": ["es2015"],
  "plugins": [
    "transform-flow-strip-types",
    "transform-object-rest-spread",
    "syntax-trailing-function-commas",
    ["module-resolver", {
      "root": ["./src"]
    }]
  ]
}
